name: Acceptance

on:
  push:
    branches:
    - "*"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - name: Install Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14
      id: go

    - uses: actions/checkout@main

    - name: Wait for previous workflows to complete
      uses: softprops/turnstyle@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        poll-interval-seconds: 10
        same-branch-only: false

    - name: Run tests
      run: |
        TF_ACC=1 go test -v ./... -timeout=30m
      env:
        CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
        CLOUDSMITH_NAMESPACE: terraform-provider-testing

    - name: Notify Slack on Success
      if: success()
      uses: rtCamp/action-slack-notify@v2.0.2
      env:
        SLACK_ICON: https://avatars0.githubusercontent.com/u/44036562?s=200&v=4
        SLACK_TITLE: Workflow Succeeded
        SLACK_USERNAME: Github Actions
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

    - name: Notify Slack on Failure
      if: failure()
      uses: rtCamp/action-slack-notify@v2.0.2
      env:
        SLACK_COLOR: danger
        SLACK_ICON: https://avatars0.githubusercontent.com/u/44036562?s=200&v=4
        SLACK_TITLE: Workflow Failed
        SLACK_USERNAME: Github Actions
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
